.jobs{
    width: 40%;
    overflow: scroll;
    margin: 5%;
}
.jobImage{
    width: 100%;
}
.jobLogo{
    width: 15%;
}
input[type=text]{
    margin: 10px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}